checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
offline=false
dependenciesOnly=false
projectPerFolder=false
wss.connectionTimeoutMinutes=1
wss.url=https://app.whitesourcesoftware.com/agent
#wss.url=https://saas.whitesourcesoftware.com/agent
npm.resolveDependencies=true
npm.includeDevDependencies=true
npm.runPreStep=true
npm.ignoreNpmLsErrors=true
npm.ignoreScripts=false
npm.yarnProject=false
npm.ignoreSourceFiles=true
bower.resolveDependencies=true
bower.runPreStep=true
bower.ignoreSourceFiles=true
nuget.resolveDependencies=true
nuget.restoreDependencies=false
nuget.ignoreSourceFiles=true
nuget.runPreStep=true=true
python.resolveDependencies=true
python.ignorePipInstallErrors=true
python.installVirtualenv=true
python.resolveHierarchyTree=true
python.resolveSetupPyFiles=true
python.ignoreSourceFiles=true
python.runPipenvPreStep=true
python.pipenvDevDependencies=true
python.IgnorePipenvInstallErrors=true
maven.resolveDependencies=true
maven.aggregateModules=false
maven.runPreStep=true
maven.ignorePomModules=true
maven.ignoreSourceFiles=true
maven.ignoreMvnTreeErrors=true
gradle.resolveDependencies=true
gradle.runAssembleCommand=true
gradle.aggregateModules=false
gradle.ignoreSourceFiles=true
gradle.runPreStep=true
paket.resolveDependencies=true
paket.runPreStep=true
paket.ignoreSourceFiles=true
go.resolveDependencies=true
go.collectDependenciesAtRuntime=true
go.ignoreSourceFiles=true
ruby.resolveDependencies=true
ruby.installMissingGems=true
ruby.runBundleInstall=true
ruby.ignoreSourceFiles=true
ruby.overwriteGemFile=false
sbt.resolveDependencies=true
sbt.aggregateModules=false
sbt.runPreStep=true
sbt.ignoreSourceFiles=true
php.resolveDependencies=true
php.runPreStep=true
php.includeDevDependencies=true
html.resolveDependencies=true
cocoapods.resolveDependencies=true
cocoapods.runPreStep=true
cocoapods.ignoreSourceFiles=true
hex.resolveDependencies=true
hex.runPreStep=true
hex.ignoreSourceFiles=true
hex.aggregateModules=false
#apiKey=7522814401774e809f7be1a0123f3c9a9443edc835376a048ed83a0d8e62dac15ba
apiKey=430f7e365c15404498e13245b3ce526418b8b0070adbf04b43b08667579067b5a58f 
#userKey=f4bb73a9bae841218d4b6279313e710ae2d2508cc4d8174ea38e10f1ddf85a64ee
userKey=734a85d74ba5471bb2a8b70ce6d6b261380fff3a6cf1e44f959a3d4a8e763e1943
case.sensitive.glob=false
followSymbolicLinks=true
archiveExtractionDepth=2
scanPackageManager=false
docker.scanImages=false
log.level=debug
sendLogsToWss=true
includes=*.go